a{
    text-decoration: none;
    color: aliceblue;
    font-family: mulish;
    border-radius: 3%;
    padding: 13.5px 60px;
    float: none;
    position: absolute;
    top: 5.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    background: linear-gradient(180deg, rgb(36, 16, 58) 00%, rgb(47, 11, 75) 100%);
    
}


p{
    margin-right: 60px;
    color: aliceblue;
    display: inline-flex;
}
button{
    color: aliceblue;
    display: inline-flex;
    background: none;
    float: left;
    margin: 120px auto;
    font-size: 20px;
    padding-right: 60px;
    background: linear-gradient(180deg, rgb(36, 16, 58) 00%, rgb(47, 11, 75) 100%);
    border: none;
    border-radius: 10px;
    /* align-items: center; */
}

button #imgtheme{
    float: right;
    margin: 8px 0px;
   
    
}





@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


#corpo{
    background: linear-gradient(135deg, rgb(74, 7, 138), rgba(0, 0, 0, 0.65));
    height: 900px;
   
}


