h1{
    color: aliceblue;
    font-family: mulish;
    border-radius: 3%;
    padding: 13.5px 60px;
    float: none;
    position: absolute;
    top: 5.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    background: rgba(207, 132, 241, 0.171) ;
    box-shadow: rgba(111, 0, 255, 0.295) 0px 4px 16px;
}

button{
    background: none;
    float: none;
    position: absolute;
    top: 30.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    background: rgba(207, 132, 241, 0.171) ;
    box-shadow: rgba(111, 0, 255, 0.295) 0px 4px 16px;
    border: none;
    border-radius: 10px;
    align-items: center;
}

#corpo{
    height: 800px;
}
  