

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


:root{
  --primary: rgb(74, 7, 138);
  --secundary: rgba(0, 0, 0, 0.65);
}
#corpo{
    /* background-image: url(https://cdn.wallpapersafari.com/92/76/PbD56R.jpg); */
    /* background-image: linear-gradient(rgb(2, 77, 90), #7267CB); */
    background: linear-gradient(135deg, var(--primary), var(--secundary)),
                url(https://cdn.wallpapersafari.com/92/76/PbD56R.jpg);
    height: 900px;
}





/* ^NAVIGATION TOP */
.nav{
    
    overflow: hidden;
    border-radius: 10px;
    /* background-color: #90B8B5 ; */
    /* background: linear-gradient(90deg, rgb(36, 16, 58) 0%, rgb(47, 11, 75) 100%); */
    background-color: rgba(22, 22, 22, 0);
    color: aliceblue;
    
}


.nav a {
    float: left;
    border-radius: 10px;
    display: inline-flex;
    margin: 05px;
    padding: 29px 21px;
    text-decoration: none;
    color: aliceblue;
    font-family: mulish;
    
  }

  .nav-direita2 a {
    margin: 5px auto ;
    margin-right: 100px;
    padding: 16px 21px;
    float: right;
    
  }

  .nav-direita a{
    margin: 5px;
    padding: 16px 21px;
    float: right;
  }

.nav a:hover {
    background-color: rgb(26, 26, 26);
    box-shadow: rgba(111, 0, 255, 0.295) 0px 0px 50px;
  }

/* ABA FRIENDS */
h3{
  font-size: 26px;
  float: left;
  margin: 10px 50px;
  color: white;
  font-family: mulish;
 
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(78, 78, 78);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8502ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.friends{
    overflow-y: scroll;
    border-radius: 20px;
    /* background-color: #90B8B5 ; */
    /* background: linear-gradient(180deg, rgb(36, 16, 58) 00%, rgb(47, 11, 75) 100%);    */
    background-color: rgb(27, 27, 27);
    animation: fadeIn 1s ease-in both;
    width: 97%;
   height: 40%;  /** ATENCÃO - SÓ MUDA NA TELA DE PC  */
    float: none;
    margin: 10px auto;
}

.friends p{
  
  float: none;
  margin: 20px 10px;
  color: white;
  font-family: mulish;
  font-size: 18px;
}


.friends li{
 
  color: white;
  font-family: mulish;
  font-size: 15px;
  list-style-type: none;
  text-align:left;
  margin: 10px 0px;
  padding:20px 5px  ;
  width: 86%;
  border-radius: 8px;
  /* background-color: rgba(17, 17, 17, 0.89); */
  background: linear-gradient(180deg, rgb(36, 16, 58) 100%, rgb(47, 11, 75) 0%);
  
}
  /* SECAO FUNCOES  */

.funcoes{
    overflow:none;
    border-radius: 30px;
    /* background: linear-gradient(90deg, rgb(36, 16, 58) 0%, rgb(47, 11, 75) 100%); */
    background-color: rgba(22, 22, 22, 0.945);
    box-shadow: rgba(47, 5, 51, 0.295) 0px 4px 16px;  
    animation: fadeIn 1s ease-in both;
    width: 99%;
    height: 13%;
    float: none;
    margin: 0px auto;
    margin-top: 0;

}  

.funcoes #pedirajuda {
  
  padding:13px 10px ;
  background: linear-gradient(180deg, rgb(36, 16, 58) 0%, rgb(47, 11, 75) 100%);
  border-radius: 8px;
  font-family: mulish;
    float: right;
    display: inline-flex;
    margin: 9% 5%;
    text-decoration: none;
    color: white;
   
  }


  .funcoes #ajudar {
    padding:13px 10px ;
    background: linear-gradient(180deg, rgb(36, 16, 58) 00%, rgb(47, 11, 75) 100%);
    border-radius: 8px;
    font-family: mulish;
    float:left;
    display: inline-flex;
    margin: 9% 5%;
    text-decoration: none;
    color: white;
  }

 
 #ajudar :hover {
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(111, 0, 255, 0.295) 0px 0px 50px;
}


 

/* FOOTER 'NEED HELP WITH BANKI' */
.documentacao {
   display: flex;
   flex-direction: column;
   justify-content: center;
    border-radius: 10px;
    border: none;
    /* background-color: #90B8B5 ; */
    background: rgba(89, 93, 110, 0.171) ;
    /* background-color: 6E3; */
    /* box-shadow: rgba(111, 0, 255, 0.295) 0px 4px 16px; */
    animation: fadeIn 1s ease-in both;
    width: 77%;
    height: 13%;
    margin: 20px auto;
}

.documentacao a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
    font-family: mulish;
}

.documentacao button{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: mulish;
  background-color: rgba(17, 17, 17, 0.747);
  border: none;
  justify-content: center;
  border-radius: 10px;
  color: white;
  margin-left: 100px;
  padding: 9px 10px;
  width: 40%;
}

.documentacao :hover{
  background-color: rgb(255, 255, 255);
  color: black;
}  


/* RESPONSIVIDADE */
 @media screen and (min-width: 535px) {
    
   .friends li {
    width: 93%;
   }
   

   .funcoes #ajudar{
    margin: 2% 5%;
   }
   .funcoes #pedirajuda{
    margin: 2% 5%;
   }
    
   .documentacao button{
    margin-left: 130px;
   }

} 

@media screen and (min-height:800px){
    .funcoes{
        margin: 30px auto;
        height: 10%;
    }  
    .friends{
        margin: 40px auto;
    }
}


@media screen and (min-width:800px){
  .documentacao button{
    margin-left: 300px;
   }

}

@media screen and (max-width: 535px) {
  .friends{
    
    margin: 10px auto;
    height: 48%;
  }
  h3{
    margin: 10px 15px;
  }
  .funcoes{
    margin: 33px auto;
  }
  .nav a {
    margin: 0px;
    padding: 23px 21px;
  }
  .nav-direita a{
    margin: 0px;
    padding: 14px 21px;
    height: 40px;
  }
}
