

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


:root{
  --primary: rgba(0, 0, 0, 0.65);
  --secundary: rgba(46, 3, 85, 0.65);
}
#corpo{
    /* background-image: url(https://cdn.wallpapersafari.com/92/76/PbD56R.jpg); */
    /* background-image: linear-gradient(rgb(2, 77, 90), #7267CB); */
    background: linear-gradient(135deg, var(--primary), var(--secundary)),
                url(https://cdn.wallpapersafari.com/92/76/PbD56R.jpg);
    height: 900px;
}





/* ^NAVIGATION TOP */
.nav{
    
    overflow: hidden;
    border-radius: 10px;
    /* background-color: #90B8B5 ; */
    background: linear-gradient(90deg, rgb(36, 16, 58) 0%, rgb(47, 11, 75) 100%);
    color: aliceblue;
    
}


.nav a {
    float: left;
    border-radius: 10px;
    display: inline-flex;
    margin: 05px;
    padding: 29px 21px;
    text-decoration: none;
    color: aliceblue;
    font-family: mulish;
    
  }

  .nav-centro a {
    border-radius: 3%;
    padding: 13.5px 20px;
    float: none;
    position: absolute;
    top: 5.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    height: 110px;
    
  }

  .nav-direita a{
    margin: 5px;
    padding: 16px 21px;
    float: right;
  }

.nav a:hover {
    background-color: rgb(26, 26, 26);
    box-shadow: rgba(111, 0, 255, 0.295) 0px 0px 50px;
  }

/* ABA FRIENDS */
h3{
  font-size: 26px;
  float: left;
  margin: 10px 50px;
  color: white;
  font-family: mulish;
 
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(78, 78, 78);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8502ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.friends{
    overflow-y: scroll;
    border-radius: 10px;
    /* background-color: #90B8B5 ; */
    background: linear-gradient(180deg, rgb(36, 16, 58) 0%, rgb(47, 11, 75) 100%);   
    animation: fadeIn 1s ease-in both;
    
    width: 92%;
    height: 40%;
    float: none;
    margin: 10px auto;
}

.friends p{
  
  float: none;
  margin: 20px 10px;
  color: white;
  font-family: mulish;
  font-size: 18px;
}


.friends li{
  
  color: white;
  font-family: mulish;
  font-size: larger;
  list-style-type: none;
  text-align: center;
  margin: 15px 0px;
  padding:20px 0   ;
  width: 86%;
  border-radius: 8px;
  background-color: rgb(26, 26, 26);
  
}
  /* SECAO FUNCOES  */

.funcoes{
    overflow:none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(36, 16, 58) 0%, rgb(47, 11, 75) 100%);
    box-shadow: rgba(28, 2, 75, 0.295) 0px 4px 16px;  
    animation: fadeIn 1s ease-in both;
    width: 98%;
    height: 10%;
    float: none;
    margin: 10px auto;
}  

.funcoes #pedirajuda {
  
  padding:10px 10px ;
  background-color: rgb(26, 26, 26);
  border-radius: 8px;
  font-family: mulish;
    float: right;
    display: inline-flex;
    margin: 7% 5%;
    text-decoration: none;
    color: white;
   
  }


  .funcoes #ajudar {
    padding:10px 10px ;
    background-color: rgb(26, 26, 26);
    border-radius: 8px;
    font-family: mulish;
    float:left;
    display: inline-flex;
    margin: 7% 5%;
    text-decoration: none;
    color: white;
  }

 
 #ajudar :hover {
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(111, 0, 255, 0.295) 0px 0px 50px;
}


 

/* FOOTER 'NEED HELP WITH BANKI' */
.documentacao {
    overflow: hidden;
    border-radius: 10px;
    border: none;
    /* background-color: #90B8B5 ; */
    background: rgba(89, 93, 110, 0.171) ;
    /* background-color: 6E3; */
    /* box-shadow: rgba(111, 0, 255, 0.295) 0px 4px 16px; */
    animation: fadeIn 1s ease-in both;
    width: 79%;
    height: 10%;
    float: none;
    margin: 70px auto;
}

.documentacao a {
    float: none;
    display: inline-flex;
    margin: 30px 30px ;
    text-decoration: none;
    color: aliceblue;
    font-family: mulish;
}



.documentacao :hover{
  background-color: rgb(255, 255, 255);
  color: black;
}  


/* RESPONSIVIDADE */
 @media screen and (min-width: 535px) {
    
   .friends li {
    width: 93%;
   }
   

   .funcoes #ajudar{
    margin: 2% 5%;
   }
   .funcoes #pedirajuda{
    margin: 2% 5%;
   }


} 

@media screen and (min-height:800px){
    .funcoes{
        margin: 30px auto;
        height: 100px;
    }  
    .friends{
        margin: 40px auto;
    }
}


@media screen and (min-width:800px){
    .funcoes{
        height: 80px;
    }
}

@media screen and (max-width: 535px) {
  .friends{
    
    margin: 10px auto;
    height: 50%;
  }
  h3{
    margin: 10px 15px;
  }
  .funcoes{
    margin: 33px auto;
  }
  .nav a {
    margin: 0px;
    padding: 23px 21px;
  }
  .nav-direita a{
    margin: 0px;
    padding: 14px 21px;
    height: 40px;
  }
}
